
<div class="container">
	<div class="row">
	  <form role="form">
        <div class="form-group col-xs-9 col-sm-3 col-md-3 col-lg-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group col-xs-9 col-sm-3 col-md-3 col-lg-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name">
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-xs-9 col-sm-3 col-md-3 col-lg-3">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" placeholder="Password">
        </div>
        <div class="form-group col-xs-9 col-sm-3 col-md-3 col-lg-3">
            <label for="password2">Confirm Password</label>
            <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-xs-9 col-sm-3 col-md-3 col-lg-3">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">
            <label>
                <input type="radio"> Check me out<input type="radio"> Check me out<input type="radio"> Check me out
            </label>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
    <div class="clearfix"></div>

    <br /><br />
	</div>
</div>